body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    background-color: #1abc9c;
    padding: 8px 12px;
    border-radius: 5px;
}

a:hover {
    background-color: #16a085;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 10px 0;
}